@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Rokkitt:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --primary-300: #4E6E7E;
    --primary-400: #284F63;
    --primary-500: #023047;
    --primary-600: #011A27;
    --secondary-300: #9C99C2;
    --secondary-400: #8783B5;
    --secondary-500: #726DA8;
    --secondary-600: #615D8F;
    --accent-600: #9FA98B;

    --font-primary: 'Rokkit', serif;
    --font-accent: 'Roboto', sans-serif;
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif;
    color: var(--primary-500);
}

/* How to define smooth scrolling? */

h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    position: relative;

    &::before {
        content: '';
        font-family: var(--font-accent);
        text-transform: uppercase;
        color: var(--secondary-500);
        font-size: 1rem;
        width: 100%;
        height: 1rem;
        position: absolute;
        top: -25px;
        left: 0;
        letter-spacing: 5px;
        word-spacing: 10px;
    }
    & span {
        font-weight: 500;
    }
}

a {
    text-decoration: none;
}

img {
    border-radius: 25px;
    border: 5px solid var(--accent-600);
}

/* Style tree */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: sticky;
    top: 0;
    background-color: rgba(256, 256, 256, 0.5);
    backdrop-filter: blur(1.5rem);
    z-index: 1;

    & a img {
        height: 3rem;
        border: none;
        border-radius: 0;
    }
    & nav {
        & a {
            color: var(--primary-400);
            margin-left: 3rem;
            padding: 5px 8px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: var(--primary-600);
                scale: 0;
                transition: scale .2s ease;
            }

            &:hover, &.active {
                font-weight: 500;
                &::after{
                    scale: 1;
                }
            }

        }
    }
}

main {
    z-index: 0;
}

/* Section styles */
section {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 2rem;
}


/* Home Section */

section#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    & div#home-content {
        width: 100%;
        align-self: center;

        & h1::before {
            content: 'discover your potential';
        }

        & p {
            width: 75%;
        }
    }

    & div#home-image {
        width: 100%;
        align-self: center;
        
        & img {
            width: 100%;
        }
    }

}

/* About Us Banner */
#about-us-banner {
    width: 100%;
    max-height: fit-content;
    background-image: linear-gradient(to left, var(--primary-600), var(--primary-400));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    & .banner-item {
        max-width: fit-content;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 1.5rem 1rem;
        color: white;
        
        & div.banner-item-title {
            font-size: 3rem;
            color: inherit;
        }
        
        & p.banner-item-content {
            color: inherit;
            text-align: center;
            width: 50%;
            font-weight: 300;
        }
    }
}

/* Why Choose Us Section */

section#why-choose-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    gap: 1rem;

    & h1 {
        grid-column: 1/3;
        text-align: center;

        &::before {
            content: 'benefits';
        }
    }

    & .review-card {
        width: 100%;
        max-height: fit-content;
        border: 2px solid var(--primary-500);
        border-radius: 10px;
        box-shadow: 3px 3px var(--primary-500);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;

        padding-block: 1rem;

        transition: box-shadow 0.2s ease;

        & img {
            width: 40%;
        }

        & .review-card-content {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            & blockquote {
                font-size: 2rem;
                margin-block: 1rem;
            }
            & p {
                width: 75%;
                text-align: center;
            }
        }

        &:hover {
        box-shadow: 0px 0px var(--primary-500);
        }
    }
}

/* What We Offer Section */

/* Contact Section */

section#contact {
    background-image: url(assets/images/contact_background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: none;
    margin: none;

    height: 700px;

    position: relative;

    & div#contact-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        background-color: white;
        padding: 3rem;

        width: 50%;
        min-height: auto;

        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    
        & h1 {
            text-align: center;
    
            &::before {
                content: 'start your tuition journey now...';
                width: 150%;
                left: -55px;
            }
        }

        & p {
            text-align: center;
            width: 75%;
            margin: 0 auto;
        }

        & form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            & .input-box {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                & .input-field {
                    width: inherit;

                    & input {
                        width: inherit;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid var(--primary-500);
                    }
                }
            }

            & .button-box {
                grid-column: 1/3;
                width: 50%;
                justify-self: center;
                
                & button {
                    width: 100%;
                }
            }
        }
    }
    
}

/* Footer */

footer {
    background-image: linear-gradient(to left, var(--primary-600), var(--primary-400));
    height: 300px;
    width: 100%;

}